.boardContainer{
    margin: auto;
    max-width: 310px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.boardBox{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1px;
}